@model IEnumerable<SchoolScoreMVC.Models.Degree>
@*@model SchoolScoreMVC.Models.DegreeViewModels.SingleDegreeListViewModel*@
@*@model IEnumerable<SchoolScoreMVC.Models.DegreeViewModels.SingleDegreeListViewModel>*@
@*@model IEnumerable<SchoolScoreMVC.Models.DegreeViewModels.AllDegreesViewModel>*@
@*@model SchoolScoreMVC.Models.DegreeViewModels.AllDegreesViewModel*@

@{
    ViewData["Title"] = "Degree List";
}


<h1>Degrees and Programs </h1>

<p>
    <a asp-action="Create">Add a New Degree or Program</a>
</p>
@*<table class="table">*@
    <table class="table table-hover table_scroll"  >
        <thead>

            <tr class="table-success">
                <th>
                    Degree / Program
                </th>
                <th>
                    Average
                </th>
                <th>
                    High
                </th>

                <th>
                    Low
                </th>
                @*<th>
                    .....
                   
                </th>*@
                <th>
                    Action
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.DegreeId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.EducationName)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.EarningAvg.ToString("c"))*@
                        @item.EarningAvg.ToString("c")

                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.EarningHigh.ToString("c"))*@
                        @item.EarningHigh.ToString("c")
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.EarningLow.ToString("c"))*@
                        @item.EarningLow.ToString("c")
                    </td>
                    <td>
                    </td>

                    <td>


                        <div class="container">
                            @*<h2>Modal Example</h2>*@
                            <!-- Trigger the modal with a button -->
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h3 class="modal-title">Degree Details</h3>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Ranked # 4 out of 20 Fasted Growing Jobs by Careers Magazine.</p>
                                            <dl class="row">
                                                @*<dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Id)
                                </dt>*@
                                                @*<dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Id)
                                </dd>*@
                                                <dt class="col-sm-2">
                                                    @*@Html.DisplayNameFor(model => model.EducationName)*@
                                                    @Html.DisplayNameFor(modelItem => item.EducationName)
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @*@Html.DisplayFor(model => item.EducationName)*@
                                                    @Html.DisplayFor(modelItem => item.EducationName)
                                                </dd>
                                                <dt class="col-sm-2">
                                                    @Html.DisplayNameFor(model => model.EarningAvg)
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @*@Html.DisplayFor(model => item.EarningAvg)*@
                                                    @item.EarningAvg.ToString("c")
                                                </dd>
                                                <dt class="col-sm-2">
                                                    @Html.DisplayNameFor(model => model.EarningHigh)
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @*@Html.DisplayFor(model => item.EarningHigh*@
                                                    @item.EarningHigh.ToString("c")
                                                </dd>
                                                <dt class="col-sm-2">
                                                    @Html.DisplayNameFor(model => model.EarningLow)
                                                </dt>
                                                <dd class="col-sm-10">
                                                    @*@Html.DisplayFor(model => model.EarningLow)*@
                                                    @item.EarningLow.ToString("c")
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                        @*<a data-toggle="modal" data-target="#myModal" class="model_textLink">Details  |</a>*@
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        <a asp-action="SchoolMatch" asp-controller="School" asp-route-degreeId="@item.Id">Find Schools </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
