@model IEnumerable<SchoolScoreMVC.Models.Degree>
@*@model IEnumerable<SchoolScoreMVC.Models.DegreeViewModels.DegreeListView>
@model SchoolScoreMVC.Models.DegreeViewModels.DegreeListView*@

@*SchoolScoreMVC.Models.DegreeViewModels.DegreeListView*@

@{
    ViewData["Title"] = "Index";
}

<h1>Degrees and Programs </h1>

<p>
    <a asp-action="Create">Add a New Degree or Program</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.EducationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarningAvg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarningHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarningLow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EducationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarningAvg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarningHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarningLow)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |*@
                @*<a asp-action="SchoolMatch" asp-controller="School" asp-route-degreeId="@item.Id">Find Schools </a>*@
            </td>

            <td>
                <a asp-action="SchoolMatch" asp-controller="School" asp-route-degreeId="@item.Id">Find Schools </a>

            </td>
        </tr>
        }
    </tbody>
</table>
