@model IEnumerable<SchoolScoreMVC.Models.Loan>
@*@model IEnumerable<SchoolScoreMVC.Models.LoanViewModels.LoanBenefitCostAnalysisViewModel>*@

@{
    ViewData["Title"] = "Benefit Cost Analysis";
}

<h1>Benefit Cost Analysis </h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table table-hover">
    

        @*<table class="table">*@
    <thead>
        @*<tr>*@
        @*<tr class="table-primary">*@
        <tr class="table-success">
            <th scope="row">
                @Html.DisplayNameFor(model => model.DegreeSchool.Degree.EducationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FutureCareerEarnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeSchool.School.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSchoolCost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.LoanRate)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.LoanLengthMonths)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LoanLengthYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanPayment)
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.CashPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scholarships)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TotalLoanPayments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmountPaid)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.BenefitCostAnalysisRatio)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>

            <th>
                <p>Action</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*<tr class="table-info">*@
            @*<tr class="table-secondary">*@
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.DegreeSchool.Degree.EducationName)
                </td>
                <td>
                    @item.FutureCareerEarnings.ToString("c")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DegreeSchool.School.SchoolName)
                </td>
                <td>
                    @item.TotalSchoolCost.ToString("c")
                </td>
                <td>
                    @item.LoanAmount.ToString("c")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanLengthYears)
                </td>
                <td>
                    @item.LoanPayment.ToString("c")
                </td>
                <td>
                    @item.TotalLoanPayments.ToString("c")
                </td>


                @*<td>
                    @Html.DisplayFor(modelItem => item.CashPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scholarships)
                </td>*@
                <td>
                    @item.TotalAmountPaid.ToString("c")
                </td>
                <td class="benCostAnalysis_num1 benCostAnalysis_num2">
                    @Html.DisplayFor(modelItem => item.BenefitCostAnalysisRatio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Add Edit Notes", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
        </tbody>
</table>
