@model IEnumerable<SchoolScoreMVC.Models.Loan>


@{
    ViewData["Title"] = "Benefit Cost Analysis";
}

<h1>Benefit Cost Analysis </h1>

<table class="table table-hover">
    

      
    <thead>
      
        <tr class="table-success">
            <th scope="row">
                @Html.DisplayNameFor(model => model.DegreeSchool.Degree.EducationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FutureCareerEarnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeSchool.School.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSchoolCost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.LoanLengthYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanPayment)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalLoanPayments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmountPaid)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.BenefitCostAnalysisRatio)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>

            <th>
                <p>Action</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
       
            <tr class="table-light">
                <td class="degree__text">
                    @Html.DisplayFor(modelItem => item.DegreeSchool.Degree.EducationName)
                </td>
                <td class="estCareerEarn__num">
                    @item.FutureCareerEarnings.ToString("c")
                </td>
                <td class="school__text">
                    @Html.DisplayFor(modelItem => item.DegreeSchool.School.SchoolName)
                </td>
                <td class="currency__num">
                    @item.TotalSchoolCost.ToString("c")
                </td>
                <td class="currency__num">
                    @item.LoanAmount.ToString("c")
                </td>
                <td class="general__text">
                    @Html.DisplayFor(modelItem => item.LoanLengthYears)
                </td>
                <td class="moPayment__num">
                    @item.LoanPayment.ToString("c")
                </td>
                <td class="totLoanPayment__num">
                    @item.TotalLoanPayments.ToString("c")
                </td>
                                      
                <td class="totAmountPaid__num">
                    @item.TotalAmountPaid.ToString("c")
                </td>
                <td class="benCostAnalysis_num1 benCostAnalysis_num2">
                    @Html.DisplayFor(modelItem => item.BenefitCostAnalysisRatio)
                </td>
                <td class="note__text">
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Add & Edit Notes", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
        </tbody>
</table>
