@*@model SchoolScoreMVC.Models.SchoolViewModels.MatchingSchoolsViewModel*@
@model SchoolScoreMVC.Models.LoanViewModels.LoanWorkbenchViewModel
@{
    ViewData["Title"] = "SchoolMatch";
}

<h1>Financial Workbench</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@

        <tr>
            <th>
                Degree / Program
            </th>
            <th>
                School
            </th>
            @*<th>
                Yearly Cost
            </th>*@

            <th>
                Total Cost
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.Schools)
            @*@foreach (var item in Model.Schools)*@

            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => Model.DegreeName)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.AnnualCost)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => Model.DegreeSchool.TotalCost)
                    </td>*@

                    <td>
                        <div class="form-group">
                            <label asp-for="CashPaid" class="control-label"></label>
                            <input asp-for="CashPaid" class="form-control loan_cash_input" />
                            <span asp-validation-for="CashPaid" class="text-danger"></span>
                        </div>
                        @*</td>
                        <td>*@
                        <div class="form-group">
                            <label asp-for="Grants" class="control-label"></label>
                            <input asp-for="Grants" class="form-control loan_grants_input" />
                            <span asp-validation-for="Grants" class="text-danger"></span>
                        </div>
                        @*</td>
                        <td>*@
                        <div class="form-group">
                            <label asp-for="Scholarships" class="control-label"></label>
                            <input asp-for="Scholarships" class="form-control loan_scholarships_input" />
                            <span asp-validation-for="Scholarships" class="text-danger"></span>
                        </div>

                    </td>

                    <td>
                        <div class="form-group">
                            <label asp-for="LoanAmount" class="control-label loan_amount"></label>
                            <input asp-for="LoanAmount" class="form-control loan_amount_input" disabled />
                            <span asp-validation-for="LoanAmount" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoanLengthYears" class="control-label loan_years"></label>
                            @*<input asp-for="LoanLengthYears" class="form-control loan_years_input" />*@
                            <select id="loan_yrs">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">7</option>
                                <option value="8">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                            </select>
                            <span asp-validation-for="LoanLengthYears" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoanRate" class="control-label loan_amount"></label>
                            @*<input asp-for="LoanRate" class="form-control loan_rate_input" />*@
                            <select id="loan_rate">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">7</option>
                                <option value="8">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                            </select>
                            <span asp-validation-for="LoanRate" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="LoanPayment" class="control-label"></label>
                            <input asp-for="LoanPayment" class="form-control loan_payment_input" disabled />
                            <span asp-validation-for="LoanPayment" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="FinWorkBenchStep" /> @Html.DisplayNameFor(model => model.FinWorkBenchStep)
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>

                    </td>


                    <td>

                        @*<a asp-action="BenefitCostAnalysis" asp-controller="Loan" asp-route-schoolId="@item.SchoolId">Run Benefit Analysis </a>*@



                    </td>
                </tr>
            }
    </tbody>
</table>


@*@model SchoolScoreMVC.Models.Loan*@
@*@model SchoolScoreMVC.Models.LoanViewModels.LoanWorkbenchViewModel*@

@*@{
    ViewData["Title"] = "Workbench";
}

<h1>Workbench</h1>

<h4>Loan</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Workbench">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control"  disabled  />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">
                <label asp-for="CashPaid" class="control-label"></label>
                <input asp-for="CashPaid" class="form-control" />
                <span asp-validation-for="CashPaid" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Grants" class="control-label"></label>
                <input asp-for="Grants" class="form-control" />
                <span asp-validation-for="Grants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scholarships" class="control-label"></label>
                <input asp-for="Scholarships" class="form-control" />
                <span asp-validation-for="Scholarships" class="text-danger"></span>
            </div>*@

            @*<div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" disabled />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LoanLengthYears" class="control-label"></label>
                <input asp-for="LoanLengthYears" class="form-control" />
                <span asp-validation-for="LoanLengthYears" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LoanRate" class="control-label"></label>
                <input asp-for="LoanRate" class="form-control" />
                <span asp-validation-for="LoanRate" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="LoanLengthMonths" class="control-label"></label>
            <input asp-for="LoanLengthMonths" class="form-control" />
            <span asp-validation-for="LoanLengthMonths" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">
                <label asp-for="LoanPayment" class="control-label"></label>
                <input asp-for="LoanPayment" class="form-control" disabled />
                <span asp-validation-for="LoanPayment" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="TotalLoanPayments" class="control-label"></label>
                <input asp-for="TotalLoanPayments" class="form-control" disabled />
                <span asp-validation-for="TotalLoanPayments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalAmountPaid" class="control-label"></label>
                <input asp-for="TotalAmountPaid" class="form-control" disabled />
                <span asp-validation-for="TotalAmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FutureCareerEarnings" class="control-label"></label>
                <input asp-for="FutureCareerEarnings" class="form-control" disabled />
                <span asp-validation-for="FutureCareerEarnings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitCostAnalysisRatio" class="control-label"></label>
                <input asp-for="BenefitCostAnalysisRatio" class="form-control" disabled />
                <span asp-validation-for="BenefitCostAnalysisRatio" class="text-danger"></span>
            </div>*@
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FinWorkBenchStep" /> @Html.DisplayNameFor(model => model.FinWorkBenchStep)
                </label>
            </div>*@
            @*<div class="form-group">
            <label asp-for="ApplicationUserId" class="control-label"></label>
            <input asp-for="ApplicationUserId" class="form-control" />
            <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DegreeSchoolId" class="control-label"></label>
            <input asp-for="DegreeSchoolId" class="form-control" />
            <span asp-validation-for="DegreeSchoolId" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>*@
        @*</form>*@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
