@*@model IEnumerable<SchoolScoreMVC.Models.School>*@
@model SchoolScoreMVC.Models.SchoolViewModels.MatchingSchoolsViewModel
@{
    ViewData["Title"] = "School Match";
}

<h1>School Match</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@

        <tr>
            <th>
                Degree / Program
            </th>
            <th>
                School
            </th>
            <th>
                State
            </th>

            <th>
                Yearly Cost
            </th>

            <th>
                Total Cost
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.Schools)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => Model.DegreeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.SchoolId })

            </td>
            <td>

                <a asp-action="WorkBench" asp-controller="Loan" asp-route-schoolId="@item.SchoolId" asp-route-degreeId="@Model.DegreeId">Begin Analysis </a>

                @*<a asp-action="WorkBench" asp-route-previous="@Model.ReturnUrl"></a>*@


            </td>
        </tr>
        }
    </tbody>
</table>
